aiohttp==3.6.2
astroid==2.2.5
async-timeout==3.0.1
attrs==19.3.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
cssselect==1.1.0
dec12th==1.0.1
fake-useragent==0.1.11
flasgger==0.9.3
Flask==1.0.3
Flask-SQLAlchemy==2.4.0
flask-wtf==0.14.2
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
jieba==0.39
Jinja2==2.10.1
jsonschema==2.6.0
lazy-object-proxy==1.4.1
lxml==4.3.3
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
multidict==4.7.2
pbr==5.4.1
pipenv==2018.11.26
pylint==2.3.1
PyMySQL==0.9.3
pyquery==1.4.1
PyYAML==5.2
redis==3.3.11
requests==2.22.0
six==1.12.0
SQLAlchemy==1.3.3
stevedore==1.30.1
typed-ast==1.4.0
urllib3==1.25.3
virtualenv==16.7.2
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
Werkzeug==0.15.4
wrapt==1.11.2
WTForms==2.2.1
yarl==1.4.2
